*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* SECTION */
.register-section{
    width: 100%;
    padding: 30px;
}

/* CARD */
.register-card{
    max-width: 500px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 28px;
    padding: 40px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.3);
}

/* LOGO */
.logo-circle{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: linear-gradient(135deg, #5ecbff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: white;
}

.register-card h1{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.register-card p{
    color: #d1d5db;
}

/* INPUTS */
.custom-input{
    height: 55px;
    border-radius: 30px !important;
    border: none !important;
    background: rgba(255,255,255,0.12) !important;
    color: white !important;
    padding-left: 15px !important;
}

.custom-input::placeholder{
    color: #d1d5db;
}

.custom-input:focus{
    background: rgba(255,255,255,0.18) !important;
    box-shadow: none !important;
    color: white !important;
}

/* SELECT */
select.custom-input option{
    color: black;
}

/* BOTON */
.register-btn{
    border: none;
    height: 55px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    background: linear-gradient(135deg, #5ecbff);
    transition: 0.3s;
}

.register-btn:hover{
    transform: translateY(-2px);
}

/* LINKS */
.extra-links a{
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s;
}

.extra-links a:hover{
    color: white;
}